body {
  $color-a: #abc;
  $color-b: #ccc;
  $color-c: #aaa;
  $c-white: #fff;
  @include background-image(linear-gradient($c-white, $color-b, $color-c));
  min-height: rem-calc(400px);
}

body {
  &:before {
    content: 'gulp compass with concat, info : run gulp min-css for build/main.css';
  }
}
